

    .flex{
        
        font-family: 'Oswald', sans-serif;
    }

    .h1{
        font-family: 'Fira Sans', sans-serif;
    }

    .btn{
        font-family: 'Fira Sans.light300', sans-serif;
    }
      